.formulario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.checkboxs {
    display: flex;
    gap: 2rem;
}

label{
    color: #999;
    text-transform: uppercase;
}

input[type="checkbox"]{display: none;}

input[type="checkbox"] + label{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    color: black;
    cursor: pointer;
}

input[type="checkbox"] + label:last-child{
    margin-bottom: 0;
}

input[type="checkbox"] + label::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #6cc0e5;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
    transition: all .12s, border-color;
}

input[type="checkbox"]:checked + label::before{
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
}

.search .input {
    width: 275px;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #d1cdcd;
}

.button {
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: #7f7fb0;
    background-color: white;
    transition: 400ms all ease-in;
}

.button:hover {
    background: #7f7fb0;
    color: white;
}

@media (max-width: 1400px) {
    .formulario{
        flex-direction: column;
        gap: 2rem
    }
}
@media (max-width: 960px) {
    .formulario {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .checkboxs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .principal h1{
        text-align: center;
        font-size: 2rem;
    }
    .checkboxs {
        grid-template-columns: 1fr 1fr;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}