.loading{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
    color: #cdcdcf;
}
.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: #cdcdcf;
    box-sizing: border-box;
    animation: animacion 1s linear infinite alternate;
  }
  
  @keyframes animacion {
    0% {
      box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
    }
    33% {
      box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
    }
    66% {
      box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
    }
    100% {
      box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
    }
  }
  
